

@import "mixin";
@import "variables";

.wrapper {
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif, 'Roboto', sans-serif;

}

 .main {
  &__editor {
    max-width: 906px;
    text-align: center;
    margin: 0 auto;
    box-sizing: border-box;

    & h5 {
      margin-top: 129px;
      font-weight: 700;
      font-size: 54px;
      line-height: 54px;
      text-transform: uppercase;
      color: #635C73;
    }

    & p:nth-child(2) {
      margin-top: 35px;
      font-weight: 400;
      font-size: 21px;
      line-height: 32px;
      color: #323232;
    }


  }

  &__btn {
    @include display-flex;
    position: relative;
    max-width: 100%;
    margin-top: 13px;
    margin-bottom: 70px;
    box-sizing: border-box;

    & div:nth-child(1) {
      grid-area: a;
    }

    & div:nth-child(2) {
      grid-area: b;
    }

    & div:nth-child(3) {

    }

    & div {
      @include display-flex;
      max-width: 365px;
    }

    & button {
      font-weight: 800;
      @include display-flex;
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
      border: 1px solid black;
      margin: -1px;

      & svg {
        margin-right: 3px;
        margin-top: 3px;
      }
    }

    & span {
      border: 1px solid black;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
      margin-right: 10px;

      & p {
        margin: 0;
        font-weight: 900;
        font-size: 9px;
        line-height: 21px;
        padding: 0 5px;
      }
    }

  }


  &__back {
    background: #F4F4F4;
    padding-bottom: 33px;
  }

  &__get {
    margin: 0 auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 34px;
    box-sizing: border-box;

    & div:nth-child(1) {
      margin-top: 50px;
    }

    & .get-logo {
      grid-column-start: 2;

      & h1 {
        margin: 94px 18px 0 18px;
        font-weight: 700;
        font-size: 48px;
        line-height: 50px;
        color: #8D81AC;
      }

      & img {
        width: 100%;
      }
    }

    & .img-code {
      grid-row-start: 3;
      display: none;

      & img {
        width: 85%;
      }
    }

  }


  &__item {
    box-sizing: border-box;
    margin-top: 34px;
    display: grid;
    grid-template-columns:111px 1fr;
    margin-left: 30px;
    grid-column-start: 1;

    & h1 {
      font-weight: $font-w4;
      font-size: 16px;
      line-height: 21px;
      color: $color-h1;

    }

    & p {
      font-weight: $font-w4;
      font-size: 14px;
      line-height: 21px;
      color: $color-p;
    }

    & img {
      //margin-right: 44px;
    }

  }
}

 .footer {
  &__back {
    background: rgba(70, 48, 72, 0.84);
    //height: 847px;
    font-family: "Montserrat", sans-serif;

    & h1 {
      text-align: center;
      font-weight: 700;
      font-size: 48px;
      line-height: 50px;
      color: #FFFFFF;
      padding-top: 83px;
      //padding-bottom: 112px;
      margin-bottom: 112px;
    }
  }

  &__prices {
    display: grid;
    grid-template-columns: repeat(4, 1fr );
    justify-items: center;
    grid-row-gap: 25px;
    grid-column-gap: 15px;
    margin: 0 auto;

    padding-bottom: 50px;
    max-width: 1200px;

    & div:nth-child(1) {
      & div {
        & button {
          margin-top: 20px;
        }
      }
    }

  }

  &__subscription {
    background: rgba(255, 255, 255, 0.11);
    text-align: center;
    width: 257px;
    height: 457px;

    & div {


      & div {

        padding: 36px 0;
        background: rgba(255, 255, 255, 0.06);
        font-weight: $font-w4;
        font-size: 24px;
        line-height: 24px;
        text-transform: uppercase;
        color: $subscription-color;
      }

      & h3 {
        margin: 30px 0 20px 0;
        font-weight: $font-w4;
        font-size: 60px;
        line-height: 90px;
        text-transform: uppercase;
        color: $subscription-color;

        & b {
          font-weight: 700;
        }
      }

      & hr {
        //margin: 38px 0 30px 0;
        margin-top: 38px;
        width: 60px;
        height: 5px;
        background: #8D81AC;
        border: none;
      }

      & p {
        margin: 30px 23px 20px 23px;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        color: #FFFFFF;
      }

      & h4 {
        font-weight: $font-w4;
        font-size: 14px;
        line-height: 16px;
        text-transform: uppercase;
        color: $subscription-color;
      }

      & button {
        font-weight: $font-w4;
        font-size: 16px;
        line-height: 18px;
        text-transform: uppercase;
        padding: 18px 48px;
        color: $subscription-color;
        border-radius: 40px;
        mix-blend-mode: normal;
        border: none;
        background: rgba(255, 255, 255, 0.15);
      }
    }

  }

  &__subscription.active {
    width: 299px;
    height: 560px;
    background: rgba(70, 48, 72, 0.84);

    & div {
      & div {
        padding: 43px 96px;
      }

      & h3 {
        font-size: 82px;
        margin: 14px 0 16px 0;
      }

      & p {
        margin-top: 40px;
        margin-bottom: 83px;
      }

    }
  }

}


@media(min-width: 480px) and (max-width: 992px) {
  .footer {
    &__prices {
      justify-items: center;
      grid-template-columns: repeat(2, 1fr);
      grid-row-gap: 30px;

    }


    & div:nth-child(4) {
      margin-top: 71px;
    }
&__back{
  & h1{
    font-size: 42px;
  }
}
  }
  .main {
    &__editor{

      & h5{
        font-size: 42px;
      }
    }
    &__back {
      background: none;

    }

    &__get {

      & div:nth-child(1) {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
      }

      & .get-logo {
        grid-column-start: 1;
        grid-column-end: 3;
        justify-self: center;
        //margin: 0;

        & h1 {
          font-weight: 700;
          font-size: 48px;
          line-height: 50px;
          color: #8D81AC;
        }

        & img {
          display: none;
        }
      }

      & .img-code {
        display: block;
        grid-column-start: 1;
        grid-column-end: 3;

        & img {
          width: 100%;
        }

      }
    }
    &__item{
      margin-right: 27px;
    }


  }

}


@media(min-width: 310px) and (max-width: 481px) {
  .footer {
    &__prices {
      justify-items: center;
      grid-template-columns: repeat(1, 1fr);
      grid-row-gap: 18px;

    }
    &__back{
      & h1 {
        font-size: 36px;
      }
    }

  }
  .main {
    &__editor{
      & h5{
        margin: 129px 20px 0 20px;
        font-size:26px ;
      }
      & p:nth-child(2){
        margin: 0 20px;
        font-size: 14px;
      }
    }

    &__btn {
      & div:nth-child(3) {
        top: 40px;
        position: absolute;
      }
    }

    &__back {
      background: none;

    }

    &__get {
      & div:nth-child(1) {
        margin-top: 0;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
      }

      & .get-logo {
        grid-column-start: 1;
        grid-column-end: 3;
        justify-self: center;
        //margin: 0;

        & h1 {
          margin: 94px 47px 0 47px;
          text-align: center;
          font-weight: 700;
          font-size: 32px;
          line-height: 50px;
          color: #8D81AC;
        }

        & img {
          display: none;
        }
      }

      & .img-code {
        display: block;
        grid-column-start: 1;
        grid-column-end: 3;

        & img {
          width: 100%;
        }

      }

    }

    &__item {
      margin-right: 27px;
      display: block;
      text-align: center;

    }
  }

}

